[submodule "wa_backend"]
	path = wa_backend
	url = https://github.com/Foxon-Consulting/wa_backend.git
[submodule "wa_frontend"]
	path = wa_frontend
	url = https://github.com/Foxon-Consulting/wa_frontend.git
